@import "../../assets/common/animation.less";
.run-toast {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  .run-toast-container {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    color: #fff;
    font-size: 13px;
    max-width: 70%;
    padding: 12px 20px;
    position: relative;
    text-align: center;
    .toast-fail {
      padding: 10px;
      .icon-fail {
        font-size: 34px;
      }
      .toast-fail-title {
        margin-top: 10px;
        font-size: 16px;
      }
    }
    .toast-warning {
      padding: 10px;
      .icon-warning {
        font-size: 34px;
      }
      .toast-warning-title {
        margin-top: 10px;
        font-size: 16px;
      }
    }
    .toast-success {
      padding: 5px;
      .icon-success {
        font-size: 34px;
      }
      .toast-success-title {
        margin-top: 10px;
        font-size: 16px;
      }
    }
    .toast-loading {
      padding: 10px;
      .icon-loadings {
        font-size: 34px;
        animation: circle 0.6s linear infinite;
      }
      .toast-loading-title {
        margin-top: 10px;
        font-size: 16px;
      }
    }
  }
}

.run-toast-open {
  display: flex;
  align-items: center;
  justify-content: center;
}
