@import "../../assets/common/common.less";
.icon-main {
  // margin-left: 20px;
  .item-icon {
    width: 20%;
    text-align: center;
    padding: 40px 10px;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    text-align: center;
  }

  .icon {
    font-size: 40px;
    margin: 0px;
    color: @primary;
  }

  .icon-p {
    width: 90px;
    margin: 0 auto;
    padding: 0;
    word-break: break-all;
    margin-top: 10px;
    font-size: 10px;
    color: @primary;
  }
}
