.allImgs{
    text-align: center;
    width: 100%;
}

// .li-img {
//     height: auto;
//     background: url(http://1.lazyloading.sinaapp.com/Lazy/images/loading.gif) center center no-repeat;
// }

img { 
    height: 500px;
    width: 500px;
    display:block;
    background: url(http://1.lazyloading.sinaapp.com/Lazy/images/loading.gif) no-repeat center; margin: 0 auto
}

.text-center{
    text-align: center;
}