@import "../../assets/common/common.less";

.h5-box {
  width: 100%;
  min-height: 667px;
  border: 1px solid @grey300;
  // overflow-y: auto;
  position: relative;
  margin-bottom: 20px;
  .h5-box-header {
    height: 60px;
    background: @grey200;
    padding: 0 15px;
    background: #fff;
    .title-right {
      margin-left: 10px;
      color: @grey600;
      .title-right-name {
        margin-left: 10px;
        color: @grey600;
      }
    }
    .icon-box {
      color: @react;
    }
  }
  .h5-box-content {
    background: @grey50;
    width: 100%;
    min-height: 607px;
    // overflow-y: auto;
    // position: relative;
    left: 0;
    top: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
