.run-button {
  border: 1px solid #e6e6e6;
  border-radius: 0;
  color: #464646;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  height: 44px;
  line-height: 44px;
  outline: 0 none;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  text-align: center;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  user-select: none;
  vertical-align: middle;
  &:hover {
    background-color: #fff;
    border-color: #e6e6e6;
    color: #464646;
  }
}

.run-a {
  background: transparent;
}
