ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    padding: 40px 30px;
    background-color: antiquewhite;
    box-sizing: border-box;
    overflow: hidden;
}

.header li {
    width: 200px;
    float: left;
    text-align: center;
    border: 2px solid #ccc;
    margin-right: 20px;
}

.header li:hover{
    background: beige;
    color: #333;
}

.header li a {
    display: block;
    height: 80px;
    line-height: 80px;
}