body {
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

// a:hover {
//   color: #aaa;
// }

.flex {
  display: flex;
}

.flex-x {
  display: flex;
  justify-content: center;
}

.flex-y {
  display: flex;
  align-items: center;
}

.flex-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.app {
  width: 100%;
  height: 100%;
}
