body{
    padding: 0;
    margin: 0;
}

* {
    vertical-align: baseline;
    font-weight: inherit; 
    font-family: inherit; 
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

a{
    color: #000;
    border: 0;
    text-decoration: none;
}

a:hover{
    color: #aaa;
}

.flex{
    display: flex;
}

.flex-x{
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
}

.flex-y{
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.flex-xy{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.app{
    width: 100%;
    height: 100%;
}

.main{
    padding-top: 64px;
    padding-left: 256px;
    background-color: #ffffff;
}

.slide{
    width: 256px;
    position: fixed;
    top: 0;
    bottom: 0;
    border-radius: 0;
    left: 0;
    z-index: 200;
    overflow: auto;
    background: burlywood;
    .slide-header{
        background: #08213E;
        height: 64px;
        color: #fff;
    }
}

.header{
    position: fixed;
    left: 256px;
    right: 0;
    top: 0;
    width: auto;
    height: 64px;
    background: greenyellow;
}